.svg {
  height: 400px;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .svg {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 980px) {
  .svg {
    height: 200px;
    width: 300px;
  }
}
@media screen and (min-width: 981px) and (max-width: 992px) {
  .svg {
    height: 200px;
    width: 200px;
  }
}
@media screen and (min-width: 981px) and (max-width: 1199px) {
  .svg {
    height: 300px;
    width: 400px;
  }
}
